
<section id="contact" class="contact bg-primary">
    <div class="container">
        <h2>We <i class="fa fa-heart"></i> new friends!</h2>
        
        <ul class="list-inline list-social">
            <li class="social-twitter">
                <a href="https://twitter.com/DanielRosillo22"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="social-facebook">
                <a href="https://fb.me/HighboxApp"><i class="fa fa-facebook"></i></a>
            </li>

            <li class="social-github">
                    <a href="https://fb.me/HighboxApp"><i class="fa fa-github"></i></a>
                </li>
        
    
        </ul> 
    </div>
</section>
<footer>
    <div class="container">
        <p>| Rosillo Labs™ | Highbox™  |© 2019 Daniel Rosillo | All rights reserved | Theme by Antonio Trento |</p>
        <ul class="list-inline">
            <li>
                <a href="https://danielrosillo.github.io/legal/2019/07/03/privacypolicy/">Privacy Policy</a>
            </li>
          
        </ul>
    </div>
</footer>
