
<section id="contact" class="contact bg-primary">
    <div class="container">
        <h2>We <i class="fa fa-heart"></i> new friends!</h2>
        
        <ul class="list-inline list-social">
            <li class="social-twitter">
                <a href="https://twitter.com/DanielRosillo22"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="social-facebook">
                <a href="https://fb.me/HighboxApp"><i class="fa fa-facebook"></i></a>
            </li>

            <li class="social-git">
                    <a href="https://github.com/DanielRosillo"><i class="fa fa-github"></i></a>
                </li>
        
    
        </ul> 
        <div class=inner>
                <form action="https://formspree.io/{{ site.email }}" method="POST">
                    <div class="field half first">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" />
                    </div>
                    <div class="field half">
                        <label for="email">Email</label>
                        <input type="text" name="_replyto" id="email" />
                    </div>
                    <div class="field">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" rows="6"></textarea>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Send Message" class="special" /></li>
                        <li><input type="reset" value="Clear" /></li>
                    </ul>
                </form>
            </div>
    </div>
</section>
<footer>
    <div class="container">
        <p>| Rosillo Labs™ | Highbox™  |© 2019 Daniel Rosillo | All rights reserved | Theme by Antonio Trento |</p>
        <ul class="list-inline">
            <li>
                <a href="https://danielrosillo.github.io/legal/2019/07/03/privacypolicy/">Privacy Policy</a>
            </li>
          
        </ul>
    </div>
</footer>
