
<section id="contact" class="contact bg-primary">
    <div class="container">
        <h2>¡Contactanos! <i class="fa fa-heart"></i></h2>
        
        <br>
        <br>
        <div  class="form-group">
                <form action="https://formspree.io/xqkddjjk" method="POST">
                    <div >
                        <label for="name">Nombre</label>
                        <input type="text" name="name" id="name" class="form-control"/>
                    </div>
                    <div >
                        <label for="email">Correo</label>
                        <input type="email" name="_replyto" id="email" class="form-control"/>
                    </div>
                    <div >
                        <label for="message">Mensaje</label>
                        <textarea name="message" id="message" rows="6" class="form-control"></textarea>
                    </div>
                    <br>
                    <ul class="actions">
                        <li><input type="submit" value="ENVIAR" class="btn btn-success" /></li>
                    </ul>
                </form>
            </div>
    </div>
</section>
<footer>
    <div class="container">
        <h5>Rosillo Labs™ | Highbox™ | Geadex™ | © 2022 Rosillo Labs | <a href="https://github.com/antoniotrento">Theme by Antonio Trento</a>  | Todos los derechos reservados.</h5>

        <ul class="list-inline">
            <li>
                <a href="https://rosillolabs.com/legal/2019/07/03/privacypolicy/">Política de Privacidad</a>
            </li>
          
        </ul>
    </div>
    <br>
    <br>
</footer>
