<section id="apps">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Apps Ecosystem</h2>
                <hr class="primary">
                <br />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img  src="img/geadex-icon.png"   width="150" height="150">
                    <h3>GEADEX</h3>
                    <p class="text-muted">Management your flowers, houseplants and your entire garden with time schedules.</p>
                    <br>
                    <a  target="_blank" href="https://play.google.com/store/apps/details?id=rosillolabs.development.garden_plant_cares" class="btn btn-primary">PLAY-STORE</a> <br>
                    <a  target="_blank" href="https://play.google.com/store/apps/details?id=rosillolabs.development.garden_plant_cares" class="btn btn-primary">AMAZON</a> <br>
                    <a  target="_blank" href="https://play.google.com/store/apps/details?id=rosillolabs.development.garden_plant_cares" class="btn btn-primary">UPTODOWN</a>
              
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img  src="img/orangeeye.png"   width="150" height="150">
                    <h3>ORANGEEYE</h3>
                    <p class="text-muted">The most complete API client and webmonitor for Developers.</p>
                    <a  target="_blank" href="https://play.google.com/store/apps/details?id=rosillolabs.development.sentry" class="btn btn-primary">DOWNLOAD</a>
                    <a  target="_blank" href="https://play.google.com/store/apps/details?id=rosillolabs.development.garden_plant_cares" class="btn btn-primary">AMAZON</a> <br>
                    <a  target="_blank" href="https://play.google.com/store/apps/details?id=rosillolabs.development.garden_plant_cares" class="btn btn-primary">UPTODOWN</a>
              
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img  src="img/highbox-icon.png"   width="150" height="150">
                    <h3>HIGHBOX</h3>
                    <p class="text-muted">The password manager that don't save your passwords.</p><br>
                    <a  target="_blank" href="https://play.google.com/store/apps/details?id=com.bookmanager.danielrosillo.bookmanager" class="btn btn-primary">DOWNLOAD</a>
                    <a  target="_blank" href="https://play.google.com/store/apps/details?id=rosillolabs.development.garden_plant_cares" class="btn btn-primary">AMAZON</a> <br>
                    <a  target="_blank" href="https://play.google.com/store/apps/details?id=rosillolabs.development.garden_plant_cares" class="btn btn-primary">UPTODOWN</a>
              
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img  src="img/love-icon.png"   width="150" height="150">
                    <h3>LOVE IMAGES</h3>
                    <p class="text-muted">Love images for WhatsApp states and more.</p><br>
                    <a  target="_blank" href="https://play.google.com/store/apps/details?id=danielrosillo.projects.amors" class="btn btn-primary">DOWNLOAD</a>
                    <a  target="_blank" href="https://play.google.com/store/apps/details?id=rosillolabs.development.garden_plant_cares" class="btn btn-primary">AMAZON</a> <br>
                    <a  target="_blank" href="https://play.google.com/store/apps/details?id=rosillolabs.development.garden_plant_cares" class="btn btn-primary">UPTODOWN</a>
              
                </div>
            </div>
        </div>
    </div>
</section>
