<section id="portfolio" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">How does Highbox work?</h2>
                <p>Highbox work through our specialized Hash algorithms that using a Totem and Hint like entries to make a unique password.</p>
                <hr>
                <hr>
                <h2>Instructions</h2>
                <h3>Register(push) a new account(Box), then think at a Totem and a Hint put these, then change your default password for the one given to you by Highbox.
                    It’s all.</h3>
            </div>
        </div>
    </div>
</section>
