<section id="portfolio" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">How does Highbox work?</h2>
                <p>Highbox work through our specialized Hash algorithms that using a Totem and Hint like entries to make a unique password.</p>
                <hr>
                <hr>
                <h2>Instructions</h2>
                <h3>New to Highbox?, Push a new account!</h3><br><br><h3> Highbox works through our specialized Hash algorithms that using a Totem and Hint like entries to makes a unique password.</h3><br><h3> Register a new Box on Highbox(Push option)for an account(set Totem, Hint, website,user....)</h3>
                    <br><h3> 1.- Change your current password to the new that Highbox gives you.</h3><br><h3> 2.- If you want your password for this account, go to Highbox(Pop option) and choose the account then select incantation. (On this part the Hint is showing)</h3><br>
                    </h3>3.- Type your current Totem and press "get".<br>The password is display on the screen.</h3>
            </div>
        </div>
    </div>
</section>
