
    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Nuestros Servicios</h2>
                        <p class="text-muted">Somos expertos en tecnología y estamos especializados en la mayor parte de las areas de TI.</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-4">
                        <div class="device-container">
                           
                                <div class="device">
                                    <div class="screen">
                                        <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                        <img src="/img/demo1.png" class="img-responsive" alt=""> </div>
                                    <div class="button">
                                        <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                    </div>
                                </div>
                            
                        </div>
                    </div>
                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-cup text-primary"></i>
                                    <h3>Consultoría y Asesoramiento de Proyectos</h3>
                                    <p class="text-muted">Ponemos a tu disposición el conocimiento adquirido a travez de los años para mejorar tu proyecto.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-star text-primary"></i>
                                    <h3>Dessarrollo</h3>
                                    <p class="text-muted">Desarrollo de software móvil y de escritorio con soporte a largo plazo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-energy text-primary"></i>
                                    <h3>Entrenamiento para Programadores y NO-Programadores</h3>
                                    <p class="text-muted">Recibe la asesoría de expertos en el área del software con clases personalizadas y programas especializados y enfocados en los resultados.</p>
                                    
                                </div>
                            </div>
                           
                        </div>

                    </div>
                </div> 
            </div>
    </section>
